.gc-I {
  box-shadow: 0 0 0 1px #00bcd4 inset;
  color: #00bcd4;
}

.gc-J {
  box-shadow: 0 0 0 1px #3f51b5 inset;
  color: #3f51b5;
}

.gc-L {
  box-shadow: 0 0 0 1px #ff9800 inset;
  color: #ff9800;
}

.gc-O {
  box-shadow: 0 0 0 1px #ffeb3b inset;
  color: #ffeb3b;
}

.gc-S {
  box-shadow: 0 0 0 1px #4caf50 inset;
  color: #4caf50;
}

.gc-SR {
  box-shadow: 0 0 0 1px #f44336 inset;
  color: #f44336;
}

.gc-T {
  box-shadow: 0 0 0 1px #9c27b0 inset;
  color: #9c27b0;
}

body {
  background-color: #2b2b2b;
  color: #5c5c5c;
  font-family: 'Rajdhani', sans-serif;
}

h1 {
  display: inline-block;
}

h4 {
  display: inline-block;
}

.row {
  display: flex;
  justify-content: center;
}

.header {
  margin: 50px 0;
}

#grid {
  margin-right: 16px;
}

.grid-start,
#grid {
  line-height: 25px;
  float: left;
}

.grid:after {
  content: '';
}

.grid-row:before {
  content: '[';
}

.grid-row:after {
  content: '] ,';
}

.grid-row:last-child:after {
  content: '] ]';
}

.grid-cell {
  text-align: center;
  height: 25px;
  width: 25px;
  display: inline-block;
  margin: 1px;
}

.grid-cell:after {
  content: ' ,';
}

.grid-cell:last-child:after {
  content: ' ';
  white-space: pre;
}
